In [1]:
import pandas as pd
import numpy as np

In [2]:
Faculty = ["ARTS","MEDICINE","EDUCATION","ENGINEERING","LAW","FMS","AGRICULTURE","COMMUNICATION","TRANSPORT","SCIENCE","FSS"]

In [3]:
Honour = ["1st Class Honours","2nd class Honours(upper)","2nd Class Honours(lower)","3rd Class Honours","Pass"]

In [4]:
data = [[1,82,203,94,2],[7,29,5,0,73],[26,410,939,107,0],[5,51,94,9,1],[1,50,70,9,2],[22,194,514,113,1],[1,12,4,0,0],[3,81,149,29,1],[0,17,29,1,0],[40,308,521,138,7],[6,129,301,103,0]]

In [7]:
Table = pd.DataFrame(data,Faculty,Honour)
Table

,1st Class Honours,2nd class Honours(upper),2nd Class Honours(lower),3rd Class Honours,Pass
ARTS,1,82,203,94,2
MEDICINE,7,29,5,0,73
EDUCATION,26,410,939,107,0
ENGINEERING,5,51,94,9,1
LAW,1,50,70,9,2
FMS,22,194,514,113,1
AGRICULTURE,1,12,4,0,0
COMMUNICATION,3,81,149,29,1
TRANSPORT,0,17,29,1,0
SCIENCE,40,308,521,138,7
FSS,6,129,301,103,0

In [8]:
Table.to_csv('convocation.csv')